<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Definizione dei Servlet -->
    <servlet>
        <servlet-name>GestioneUtenti</servlet-name>
        <servlet-class>Servlet.GestioneUtenti</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>GestioneLibri</servlet-name>
        <servlet-class>Servlet.GestioneLibri</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PrenotaLibroServlet</servlet-name>
        <servlet-class>Servlet.PrenotaLibroServlet</servlet-class>
    </servlet>

    <!-- Rimuoviamo la mappatura duplicata di HomeServlet -->
    <!-- Non è necessario mappare HomeServlet se usi l'annotazione @WebServlet nel codice -->
    <!--
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    -->

    <!-- Configurazione della sessione -->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
